<div class="page-container">
  <div class="header">
    <p-selectbutton
      [options]="optionsView"
      [(ngModel)]="currentView"
      optionValue="value"
      optionDisabled="constant"
      size="small"
      (onChange)="changeView($event)"
    >
      <ng-template #item let-item>
        <i [class]="item.icon"></i>
      </ng-template>
    </p-selectbutton>
  </div>
  <div [ngSwitch]="currentView">
    <div *ngSwitchCase="0">
      <app-workout-show-table
        [workoutToShow]="workout"
      ></app-workout-show-table>
    </div>
    <div *ngSwitchCase="2">
      <app-workout-show-daily
        [workoutToShow]="workout"
      ></app-workout-show-daily>
    </div>
    <div *ngSwitchDefault>
      <app-workout-show-weekly
        [workoutToShow]="workout"
      ></app-workout-show-weekly>
    </div>
  </div>
</div>
