.page-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
  }
}
