<div class="workout-container">
  <h1 class="workout-title">{{ workout.name }}</h1>

  <div class="days-container">
    <div *ngFor="let day of workout.workoutPerDays" class="day-card">
      <div class="day-header">
        <h2>{{ day.dayOfWeek }} {{ day.date | date }}</h2>
      </div>

      <div class="exercises-list">
        <div *ngFor="let exercise of day.exercises">
          <app-exercise-card
            [exercise]="exercise"
            [toggleOnCard]="false"
          ></app-exercise-card>
        </div>
      </div>
    </div>
  </div>
</div>
