@if(showLoading){<app-loading></app-loading>} @else {
<div class="login-container">
  <p-card [@bounce]="isBounce ? 'bounce' : 'normal'">
    <div class="login-card">
      <div class="icon-container">
        <img src="favicon.ico" alt="" class="imgicon" />
      </div>

      <h1>Sign Up <br />Workout Tracker</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <input
          pInputText
          placeholder="Username"
          autocomplete="username"
          formControlName="username"
          fluid
        /><p-message
          severity="error"
          variant="simple"
          size="small"
          *ngIf="getErrorMessage('username')"
        >
          {{ getErrorMessage("username") }}
        </p-message>

        <p-password
          formControlName="password"
          placeholder="Password"
          autocomplete="current-password"
          [toggleMask]="true"
          [feedback]="false"
          fluid
        />
        <p-message
          severity="error"
          variant="simple"
          size="small"
          *ngIf="getErrorMessage('password')"
          >{{ getErrorMessage("password") }}</p-message
        >

        <p-message severity="error" icon="pi pi-times-circle" *ngIf="error">{{
          errorMsg
        }}</p-message>

        <p-button label="SIGN UP" type="submit" fluid [raised]="true" />
      </form>

      <div class="create-account">
        <a routerLink="/login"
          ><u> Already have an account? Log In</u>
          <i class="pi pi-angle-right"></i>
        </a>
      </div></div
  ></p-card>
</div>
}
