.exercise-card {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 10px 15px;
  position: relative;
  border: 1px solid var(--p-surface-500);
  display: flex;
  flex-direction: column;
  text-align: start;
  background: linear-gradient(to right, var(--p-blue-200), 10%, transparent);
  width: 100%;
}
.card-hover:hover {
  transform: scale(1.01);
  transition: transform 0.2s;
}

.exercise-completed {
  background: linear-gradient(
    to right,
    var(--p-primary-color),
    70%,
    transparent
  );
}

.exercise-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 4px;
  margin-right: 2.8rem;
}

.exercise-details {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.detail-item {
  display: inline-block;
  margin-right: 20px;
}

.detail-label {
  color: #000;
  display: inline-block;
  margin-right: 5px;
}

.detail-value {
  font-weight: bold;
}

.muscle-group {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #777;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.completion-icon {
  display: flex;
  position: absolute;
  bottom: 13px;
  right: 15px;
  gap: 10px;
  line-height: 1;
}

.completion-icon .pi {
  cursor: pointer;
  font-size: 1.2rem;
}

.completion-icon .pi:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
