<div class="container">
  @if( day != null){

  <p-card
    header="{{ day.dayOfWeek | dayOfWeek }} {{ day.date | date }}"
    class="p-card"
  >
    <div *ngFor="let exercise of day.exercises">
      <app-exercise-card
        [exercise]="exercise"
        [toggleOnCard]="true"
      ></app-exercise-card>
    </div>
    <ng-template #footer>
      <div class="footer">
        <p-button
          icon="pi pi-check"
          label="Mark all as completed"
          (click)="emitMarkAllAsCompleted()"
          [outlined]="true"
        />
      </div>
    </ng-template>
  </p-card>
  } @else { Rest day. }
</div>
