.p-card {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  text-align: right;
}
.msg-container {
  display: flex;
  flex-flow: column;
  padding: 4em 0;
  text-align: center;
}
