@if(showExerciseEdit && exerciseToEdit){<app-exercise-edit-card
  [exercise]="exerciseToEdit"
  (onClickSaveExercise)="onClickCloseEdit()"
  (onClickCancel)="onClickCloseEdit()"
></app-exercise-edit-card
>} @else { @if( day != null){

<p-panel header="  {{ day.date | customDateFormat : true }}" class="p-card">
  <div *ngFor="let exercise of day.exercises">
    <app-exercise-card
      [exercise]="exercise"
      [toggleOnCard]="true"
      (onClickEditExercise)="onClickEditExercise(exercise)"
    ></app-exercise-card>
  </div>
  <ng-template #footer>
    <div class="footer">
      <p-button
        icon="pi pi-check"
        label="Mark all as completed"
        (click)="emitMarkAllAsCompleted()"
        [outlined]="true"
      />
    </div>
  </ng-template>
</p-panel>
} @else {
<p-panel>
  <div class="msg-container">
    No workouts today — it’s rest day! 💪 <br /><br />
    Remember, muscles grow when you rest, not just when you train. Enjoy it!
  </div>
</p-panel>
} }
