<div class="menubar-container">
  <p-menubar [model]="itemsNav" [style]="{ 'max-height': '68px' }">
    <ng-template #start>
      <img
        src="favicon.ico"
        alt="Icon"
        width="50"
        height="50"
        class="img"
        display="none"
    /></ng-template>

    @if (isLoggedIn){
    <ng-template #end>
      <p-splitbutton
        label="{{ username }}"
        [model]="itemsLogged"
        severity="secondary"
        text
        [style]="{ 'max-height': '50px' }"
        [attr.dir]="isDesktop ? 'ltr' : 'rtl'"
      />
    </ng-template>
    } @else {
    <div *ngIf="isGuestMode()">
      <p-button
        label="Leave guest mode"
        severity="secondary"
        variant="outlined"
        size="small"
        (click)="leaveGuestMode()"
      />
    </div>
    <div *ngIf="!isGuestMode()">
      <p-button
        label="Join as a guest"
        severity="secondary"
        variant="outlined"
        size="small"
        (click)="joinAsGuest()"
      />
      &nbsp;
      <p-button
        label="Log in"
        [raised]="true"
        size="large"
        (click)="router.navigateByUrl('/login')"
      />&nbsp;
      <p-button
        label="Sign up"
        severity="secondary"
        (click)="router.navigateByUrl('/signup')"
      />
    </div>
    }
  </p-menubar>
</div>

@if (showGuestWarning) {<app-guest-warning></app-guest-warning>}
