.img {
  display: none;
}

@media (min-width: 960px) {
  .menubar-container {
    padding: 0 15%;
  }
  .img {
    display: block;
  }
}

@media (min-width: 1240px) {
  .menubar-container {
    padding: 0 20%;
  }
}
