<div class="menubar-container">
  <p-menubar [model]="itemsNav">
    <ng-template #start>
      <img
        src="favicon.ico"
        alt="Icon"
        width="50"
        height="50"
        class="img"
        display="none"
    /></ng-template>

    @if (isLoggedIn){
    <ng-template #end>
      <p-splitbutton
        label="{{ username }}"
        [model]="itemsLogged"
        severity="secondary"
        text
      />
    </ng-template>
    } @else {
    <p-button
      label="Log in"
      [raised]="true"
      size="large"
      (click)="router.navigateByUrl('/login')"
    />&nbsp;
    <p-button
      label="Sign up"
      severity="secondary"
      variant="outlined"
      (click)="router.navigateByUrl('/signup')"
    />
    }
  </p-menubar>
</div>
