<form class="page-container" [formGroup]="form">
  <div class="checkbox-container">
    <div *ngFor="let option of optionsDays">
      <p-checkbox
        formControlName="days"
        name="group"
        [inputId]="option.name"
        [value]="option.value"
        size="large"
        [ngClass]="{
          'ng-invalid': touchedSubmit && form.controls['days'].invalid,
          'ng-dirty': touchedSubmit
        }"
      />
      <label [for]="option.name" class="ml-2"> {{ option.name }} </label>
    </div>
  </div>
  <div class="panel-input">
    <p-floatlabel variant="in">
      <p-datepicker
        formControlName="startDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [minDate]="minDate"
        [readonlyInput]="true"
        inputId="date_label"
      />

      <label for="date_label">Start date</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-select
        formControlName="duration"
        [options]="optionsDuration"
        inputId="duration_label"
        optionLabel="label"
        optionValue="value"
        [ngClass]="{
          'ng-invalid': touchedSubmit && form.controls['duration'].invalid,
          'ng-dirty': touchedSubmit
        }"
      />

      <label for="duration_label">Duration</label>
    </p-floatlabel>
  </div>
</form>
