.card {
  text-align: center;
  justify-content: center;
  min-height: 120px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--p-teal-400);
}

.selected {
  background-color: var(--success-color);
}

.selected:hover {
  background-color: var(--success-color);
}

.container {
  display: flex;
  flex-wrap: wrap;

  width: 80%;
  align-items: center;
  justify-content: center;
}
