.card {
  text-align: center;
  justify-content: center;
  min-height: 120px;
  cursor: pointer;
}

.card:hover {
  background-color: aquamarine;
}

.selected {
  background-color: var(--success-color);
}

.selected:hover {
  background-color: var(--success-color);
}
