.panels {
  display: flex;
  flex-flow: column;
  gap: 4rem;
}

.panel-container {
  display: flex;
  flex-flow: column;
  padding: 0 15px 15px;
}

.panel-container.reverse {
  flex-direction: column-reverse;
}

.panel-img {
  height: auto;
  width: 100%;
}

.panel-text {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.step-container {
  width: 100%;
  padding: 10px;
}
.step-container .panel {
  height: 280px;
}

.step-container .panel .img {
  height: 250px;
  width: 100%;
}

/* ------------------- animations --------------------------- */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-8%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-enter-left {
  animation: slideInFromLeft 1s ease forwards;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(8%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-enter-right {
  animation: slideInFromRight 1s ease forwards;
}
@keyframes animate-enter {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-enter {
  animation: animate-enter 1s ease forwards;
}

/* -------------------------------------------------------- */
@media (min-width: 961px) {
  .panel-container {
    flex-flow: row;
  }
  .panel-container.reverse {
    flex-direction: row-reverse;
  }

  .panel-text {
    margin: 3rem;
  }

  .panel-img {
    width: 50%;
  }
}
