<app-navbar></app-navbar>

<p>
  <span
    [ngClass]="showOneWorkout ? 'clickeable' : ''"
    (click)="showOneWorkout = false"
  >
    My workouts </span
  >@if (showOneWorkout) {<i class="pi pi-chevron-right"></i>
  {{ workoutToShow.name }}}
</p>

<p-divider />

@if(workouts.length === 0) {
<div class="container">no hay nada</div>

} @else {

<div class="container" *ngIf="!showOneWorkout; else showWorkout">
  <p-card class="card" *ngFor="let w of workouts" (click)="openWorkout(w)">
    <div class="card-content">
      <img [src]="iconService.getIconUrl(w.icon)" alt="icon" class="img-icon" />
      {{ w.name }}
    </div>
  </p-card>
</div>
<ng-template #showWorkout>
  <app-show-workout [workoutToShow]="workoutToShow"></app-show-workout>
</ng-template>
}
