<div class="def-container">
  <app-navbar></app-navbar>

  @if(workouts.length === 0) {
  <div class="container">no hay nada</div>
  } @else {
  <div class="container fluid" *ngIf="!showOneWorkout; else showWorkout">
    <div class="card" *ngFor="let w of workouts" (click)="openWorkout(w)">
      <img [src]="iconService.getIconUrl(w.icon)" alt="icon" class="img-icon" />
      {{ w.name }}
    </div>
  </div>
  <ng-template #showWorkout>
    <app-show-workout [workout]="workoutToShow"></app-show-workout>
  </ng-template>
  }
</div>
