:host {
  font-family: "Poppins", sans-serif;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(135deg, var(--p-blue-500), transparent);
}

.login-card {
  background: var(--surface-50);
  border-radius: 8px;
  padding: 2rem;
  width: 350px;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.imgicon:hover {
  transform: scale(1.1) rotate(20deg);
}

.forgot-link {
  text-align: center;
  margin-top: 1rem;
}

.forgot-link a {
  color: var(--p-text-color);
  font-size: 0.875rem;
  text-decoration: none;
}

.forgot-link a:hover {
  color: var(--p-primary-color);
  cursor: pointer;
}

.create-account {
  text-align: right;
  margin-top: 2rem;
}

.create-account a {
  color: var(--p-text-color);
  font-size: 0.875rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.create-account a:hover {
  color: var(--p-primary-color);
}

@media (max-width: 480px) {
  .login-card {
    padding: 1.5rem;
  }
}
