.page-container {
  min-height: 90vh;
  padding: 1.4rem;
  padding-bottom: 0;
}

.page-container .container {
  height: 85vh;
  max-width: 1200px;

  margin: 0 auto;
  background: var(--background-color);
  border-radius: 12px;
  padding: 2rem;
  padding-bottom: 0;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.panel-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  height: 65vh;
  max-width: 1200px;
}

.panel {
  margin: 2rem auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.buttons-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.right {
  align-items: right;
  justify-content: right;
}

.carousel {
  width: 100%;
}

.icons-container {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-icon:hover {
  transform: scale(110%);
  cursor: pointer;
}

.panel-input {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
}

.p-select {
  width: 16rem;
}
