@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "primeicons/primeicons.css";

body {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  background: linear-gradient(var(--p-blue-500), 1%, transparent);
  background-attachment: fixed;
}

.p-select,
.p-floatlabel {
  width: 11rem;
}

.clickeable {
  cursor: pointer;
}

.p-divider {
  padding-bottom: 10em;
}

@media (min-width: 961px) {
  body {
    margin: 5px 16%;
    min-height: 99vh;
  }
}

@media (min-width: 1000px) {
  .p-select,
  .p-floatlabel {
    width: 15rem;
  }
}
