.completed {
  background-color: green;
}

.not-completed {
  background-color: red;
}

.container {
  text-align: center;
  margin: auto;
}

.settings-container {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
