.page-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed {
  background-color: green;
}

.not-completed {
  background-color: red;
}

@media (max-width: 1240px) {
  .page-container {
    max-width: 100vw;
  }
}
