.card-container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 15px;
  text-align: start;
}

.p-floatlabel {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.p-select {
  width: 100%;
}

.p-card {
  position: relative;
  z-index: 5000;
}
