.page-container {
  width: 1250px;
  margin: 0 auto;
  text-align: center;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1500px;
}

@media (max-width: 1024px) {
  .page-container {
    width: 100%;
  }

  .days-container {
    display: flex;
    flex-flow: column;
  }
}
