@if(showLoading){<app-loading></app-loading>} @else {
<p-panel header="Create new Workout Plan">
  <p-steps
    [model]="stepsItems"
    [readonly]="false"
    [activeIndex]="stepsActiveIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
  />
  <container-element [ngSwitch]="stepsActiveIndex">
    <div class="panel-flex" *ngSwitchCase="0">
      <app-create-step-one></app-create-step-one>
    </div>
    <div class="panel-flex" *ngSwitchCase="1">
      <app-create-step-two></app-create-step-two>
    </div>
    <div class="panel-flex" *ngSwitchCase="2">
      <app-create-step-three [days]="days"></app-create-step-three>
    </div>
  </container-element>
  <div class="buttons-flex">
    <p-button
      label="Back"
      severity="secondary"
      icon="pi pi-arrow-left"
      (onClick)="clickBack()"
    />
    @if (stepsActiveIndex!=2){
    <p-button label="Next" icon="pi pi-arrow-right" (onClick)="clickNext()" />
    } @else {
    <p-button
      label="Finish"
      icon="pi pi-check"
      (onClick)="submitStepThree()"
    />}
  </div>
</p-panel>
}
